<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">E-learning</a></li>
            <li><a href="{% url 'basic:home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'basic:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'basic:lecturer_signup' %}">Signup as a Student</a></li>
                <li><a href="{% url 'basic:student_signup' %}">Signup as a Lecturer</a></li>
                <li><a href="{% url 'basic:login' %}">Login</a></li>
            {% endif %}
            
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>